.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #272634;
  color:white;
  font-family: "Roboto-Light";
  font-size: 14px;
  justify-content: center;
}

.header-card{
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.icon{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  text-decoration:none
}
.icon:hover{
  font-weight: bold;
}
.profile-icon-svg{
  margin-right: 5px;
  height:24px;
  width:24px;
}

.location-icon-svg{
  margin-right: 5px;
  height:20px;
  width:20px
}

.icon-text{
  text-align: left;
  margin: auto;
  text-decoration: none;
}

