<!-- Header -->
<div class="header">
  <div class="header-card">
    <a class="icon" title="profile" href="https://www.svgrepo.com/vectors/location/">
      <img class="profile-icon-svg" data-name="profile" src="./assets/svg/profile.svg" />
      <span class="icon-text">Войти</span>
    </a>
    <a class="icon" title="profile" href="https://www.svgrepo.com/vectors/location/">
      <img class="location-icon-svg" data-name="location" src="./assets/svg/location.svg" />
      <span class="icon-text">Выбрать город</span>
    </a>
  </div>
</div>
