<div style="flex-direction: column;padding: 10px;width: 50%;height: 600px; border: 2px solid black; display: flex; align-content: center;justify-content: space-between">
  <h1>Создание объявления</h1>
  <span>Название</span>
  <input style="width: 80%; margin-bottom: 20px" class="advt-add-input" >
  <span>Цена</span>
  <input style="width: 35%; margin-bottom: 20px" class="advt-add-input" >
  <span>Город</span>
  <input style="width: 80%; margin-bottom: 20px" class="advt-add-input" >
  <span>Описание</span>
  <input style="width: 80%;margin-bottom: 20px; height: 150px" class="advt-add-input" >
  <span>Добавить фото</span>
  <div style="display: flex; align-content: center; justify-content: start; width: 81%;">
    <input type="image" style="width: 100%; border-radius: 7px 0 0 7px; border-right: none" class="advt-add-input" alt="Прикрепить изображение" placeholder="Название">
    <button style="background-color: #2EDA73; border-radius: 0 7px 7px 0; border:none">
      <img style="height: 20px; width: 25px" src="./assets/svg/file-image.svg"/>
    </button>
  </div>

</div>
