<div class="chat">
  <div class="chat-area">
    <div class="contain-contacts">
  <app-user-contact></app-user-contact>
      <app-user-contact></app-user-contact>
    </div>

    <div class="contain-messages">
      <div class="contact-chat">Имяконтакта</div>
      <div class="message-area">

        <div class="message-left" *ngFor="let mes of messagesList|async" [ngClass]="{'message-right':(mes.userId==authService.userLogin$!.value!.id)}">
          {{mes.description}}
          <div class="message-date">21.10.2022</div>
        </div>

      </div>
      <div class="input-message-area">
          <textarea placeholder="Введите текст" class="input-message" contenteditable="true"></textarea>

        <div class="btn-send" (click)="sendMessage()">
          <img class="btn-send-icon" src="assets/svg/send-message.svg">
        </div>

      </div>
    </div>

  </div>
</div>
