<!-- HeaderHome -->
<div class="header-home">
  <div class="header-home-card" >
    <div routerLink="" style="display: flex; width: 50%; justify-content: left">
      <p class="logo-text"  id="logo-text-start">E</p>
      <p class="logo-text">Board</p>
    </div>
    <div style="display: flex; width: 50%; align-content: center; justify-content: space-between">
      <div style="display: flex; width: 65%; margin: auto 5px auto 0">
        <input type="text" class="searchTerm" placeholder="Поиск">
        <button type="submit" class="searchButton">
          <img src="./assets/svg/search.svg" style="display: flex; align-content: center; justify-content: center"/>
        </button>
      </div>
      <a routerLink="/create_advt" class="glo">Разместить объявление</a>
    </div>
  </div>
</div>
