<div class="advt-content">
  <h1 class="advt-content-card">Рекомендации для Вас</h1>
  <div class="advt-content-card">
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
    <app-advt-small style="flex: 1 0 calc(25% - 20px); min-width: 300px; max-width: calc(25%)">rty</app-advt-small>
</div>


<!--<div class="advt-content">
  <div class="advt-content-card-row" id="advt-content-card-column">
    <div class="advt-content-card">
      <h2>Рекомендации для Вас</h2>
    </div>
    <div class="advt-content-card">
      <app-advt-small></app-advt-small>
      <app-advt-small></app-advt-small>
      <app-advt-small></app-advt-small>
      <app-advt-small></app-advt-small>
    </div>
  </div>

</div>-->
