
  <div style="display: flex;align-content: center;justify-content: left; margin-bottom: 30px">
    <div style="height: 50px;width: 50px; margin-left: 20px ; background-image: url(assets/img/profile.jpg);
      background-size: cover;border-radius: 25px">
    </div>
    <div title="Отзыв" style="padding: 0 20px ;display: flex;align-content: center;justify-content: left; flex-direction: column;">
      <a routerLink="/profile" style="font-size: large; font-family: Roboto-Bold">Ксения Денисюк</a>
      <span style="font-size: medium; font-family: Roboto-Light">2 октября</span>
      <div class="rating-mini">
        <span class="active"></span>
        <span class="active"></span>
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>
      <p style="font-size: medium; font-family: Roboto-Bold">Комментарий</p>
      <span style="font-size: medium; font-family: Roboto-Light">Все отлично, виноград супер, продавец ответственный.
Будем брать еще.Все отлично, виноград супер, продавец ответственный.
Будем брать еще.Все отлично, виноград супер, продавец ответственный.
Будем брать еще.</span>
    </div>
  </div>


