<div class="modal">
  <div class="modal-contain">
    <div class="modal-window">
      <div class="input-area">
        <label class="input-title">
          Название
        </label>
        <input value="Ноутбук ASUS Laptop 11 E210MA-GJ185T"/>
      </div>
      <div class="input-area">
        <label class="input-title">
          Цена
        </label>
        <input value="17000"/>
      </div>
      <div class="input-area">
        <label class="input-title">
          Описание
        </label>
        <textarea class="description"></textarea>
      </div>
      <div>
        <button class="btn">Редактировать</button>
      </div>
    </div>
    <div class="window-close">
      <a routerLink=""><img src="assets/svg/window-close.svg"/></a>
    </div>
  </div>
</div>
