<div class="modal" >
  <div class="modal-contain">
    <div class="modal-window">
      <div class="input-area">
        <label class="input-title">
          Название
        </label>
        <input [value]="advt.name"/>
      </div>
      <div class="input-area">
        <label class="input-title">
          Цена
        </label>
        <input [value]="advt.price"/>
      </div>
      <div class="input-area" >
        <label class="input-title">
          Описание
        </label>
        <textarea class="description" [value]="advt.description"></textarea>
      </div>
      <div>
        <button class="btn">Редактировать</button>
      </div>
    </div>
    <div class="window-close">
      <a (click)="showEditAdvt(false)"><img src="assets/svg/window-close.svg"/></a>
    </div>
  </div>
</div>
