<div class="modal">
  <div class="modal-contain">
    <div class="modal-window">
      <div class="input-area">
        <label class="input-title">Фамилия</label>
        <input value="Денисюк"/>
      </div>
      <div class="input-area">
        <label class="input-title">Имя</label>
        <input value="Ксения"/>
        <div class="input-area">
          <label class="input-title">Отчество</label>
          <input value="Константиновна"/>
        </div>
        <div class="input-area">
          <label class="input-title">Город</label>
          <input value="Владивосток"/>
        </div>
        <div class="input-area">
          <label class="input-title">Номер телефона</label>
          <input value="+7(978)580-85-86"/>
        </div>
        <div class="input-area">
          <label class="input-title">Электронная почта</label>
          <input type="email" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" value="ks230den@gmail.com"/>
        </div>
      </div>
      <div>
        <button class="btn">Редактировать</button>
      </div>
    </div>
    <div class="window-close">
      <a routerLink=""><img src="assets/svg/window-close.svg"/></a>
    </div>
  </div>
</div>
