<!--Отзыв-->

<div class="review-card">
  <div class="user-photo-area">
    <img class="user-photo" src="../../../../assets/img/profile.jpg">
  </div>
  <div title="Отзыв" class="review">
    <a routerLink="/user" class="name-user">Ксения Денисюк</a>
    <span class="data-review">2 октября</span>
    <div class="rating-mini">
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
    <p class="comment">Комментарий</p>
    <span class="data-review">Все отлично, виноград супер, продавец ответственный.
Будем брать еще.Все отлично, виноград супер, продавец ответственный.
Будем брать еще.Все отлично, виноград супер, продавец ответственный.
Будем брать еще.</span>
  </div>
</div>


