
<!--Компонент профиля пользователя-->

<div class="profile-card">
  <div class="profile-card-area">
    <div class="profile">
      <div class="profile-photo-area">
        <img class="profile-photo" src="assets/img/profile.jpg"/>
      </div>
      <div class="rating-result">
        <span class="active"></span>
        <span class="active"></span>
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>
      <div style="margin: auto; display: flex;align-content: center">
        <a routerLink="/user" class="profile-name">Ксения Д.</a>
        <a href="">
          <img title="Редактировать профиль" class="icon-edit-profile" src="assets/svg/edit.svg"/>
        </a>
      </div>
    </div>
    <div class="data-profile-area">
      <div class="data-profile">
        <img class="icon" src="assets/svg/at.svg"/>
        <p class="data-profile-text">ks230den@gmail.com</p>
      </div>
      <div class="data-profile">
        <img class="icon" src="assets/svg/phone.svg"/>
        <p class="data-profile-text">+7(978)580-85-86</p>
      </div>
      <div class="data-profile">
        <img class="icon" src="assets/svg/time.svg"/>
        <p class="data-profile-text">На EBoard с октября
          2022</p>
      </div>
    </div>
    <div class="data-block"></div>
    <div class="data-profile-area">
      <div class="data-profile" id="profile-report">
        <img class="icon" src="assets/svg/cancel.svg"/>
        <a class="data-profile-text">Ограничить доступ(A)/Пожаловаться(U)</a>
      </div>
      <div class="data-profile" id="profile-write">
        <img class="icon" src="assets/svg/email.svg"/>
        <a routerLink="" class="data-profile-text">Написать</a>
      </div>
      <div class="data-profile" >
        <img class="icon" src="assets/svg/star.svg"/>
        <a class="data-profile-text" >Отзыв</a>
      </div>
    </div>
  </div>
</div>

