<!-- Форма добавления объявления -->

<div class="advt-add">
  <div class="content-area">
    <div class="advt-add-card" [formGroup]="form" (ngSubmit)="submit()">
      <h1>Создание объявления</h1>

      <span>Название*</span>
      <input (error)="error_tip" class="advt-add-input"
             [ngStyle]="{'background-color': ((form.get('name')?.invalid)&&(form.get('name')?.touched))?'#FEEEEE':'none',
             'border-color': ((form.get('name')?.invalid)&&(form.get('name')?.touched))?'red':'',
             'border': ((form.get('name')?.invalid)&&(form.get('name')?.touched))?'1px solid red':''}"
             formControlName="name"/>
      <ng-container  *ngTemplateOutlet="error_tip"></ng-container>
      <span>Категория*</span>
      <span  (error)="error_tip" class="advt-add-input"
            [ngStyle]="{'background-color': ((subCategory.id==0)&&(touchedCategory|async))?'#FEEEEE':'white',
             'border-color': ((subCategory.id==0)&&(touchedCategory|async))?'red':'',
             'border': ((subCategory.id==0)&&(touchedCategory|async))?'1px solid red':''}"
            id="category-span"><div style="text-overflow: ellipsis;height: 35px">
        {{subCategory.name}}
          <img (click)="touchedCat()" [ngStyle]="{'transform':showCategories==true? 'rotate(180deg)':''}"
               src="assets/svg/down.svg" style="width: 25px;line-height: 45px">

      </div>

        <ul [ngStyle]="{'display':(showCategories)?'block':'none'}">
          <ng-container *ngFor="let cat of categories">
            <li *ngIf="cat.parentCategoryId===null">{{cat.name}}
              <ul>
              <ng-container *ngFor="let subCat of categories">
                <li *ngIf="subCat.parentCategoryId==cat.id" style="" (click)="subCategory=subCat">{{subCat.name}}</li>
                </ng-container>
              </ul>
            </li>
         </ng-container>
        </ul>
      </span>

      <span>Цена*</span>
      <input (error)="error_tip" class="advt-add-input"
             [ngStyle]="{'background-color': ((form.get('price')?.invalid)&&(form.get('price')?.touched))?'#FEEEEE':'none',
             'border-color': ((form.get('price')?.invalid)&&(form.get('price')?.touched))?'red':'',
             'border': ((form.get('price')?.invalid)&&(form.get('price')?.touched))?'1px solid red':''}"
             id="input-price" type="number" formControlName="price">

      <ng-container *ngTemplateOutlet="error_tip"></ng-container>


      <span>Город</span>
      <input (error)="error_tip" class="advt-add-input"
             [ngStyle]="{'background-color': ((form.get('location')?.invalid)&&(form.get('location')?.touched))?'#FEEEEE':'none',
             'border-color': ((form.get('location')?.invalid)&&(form.get('location')?.touched))?'red':'',
             'border': ((form.get('location')?.invalid)&&(form.get('location')?.touched))?'1px solid red':''}"
             formControlName="location">

      <span>Описание*</span>
      <textarea (error)="error_tip" class="advt-add-input"
                [ngStyle]="{'background-color': ((form.get('description')?.invalid)&&(form.get('description')?.touched))?'#FEEEEE':'none',
             'border-color': ((form.get('description')?.invalid)&&(form.get('description')?.touched))?'red':'',
             'border': ((form.get('description')?.invalid)&&(form.get('description')?.touched))?'1px solid red':''}"
                id="input-add-description" formControlName="description"></textarea>
      <ng-container *ngTemplateOutlet="error_tip"></ng-container>

      <span>Добавить фото</span>
      <form method="post" enctype="multipart/form-data" class="add-photo" style="margin-top: 0">
        <label class="input-file">
          <span class="input-file-text" type="text">Выберите файл</span>
          <input type="file" name="photo" accept="image/*,image/jpeg" (change)="onPhoto($event)">
          <span class="input-file-btn">
        <img *ngIf="photoUploaded==true" class="file-icon" src="../../../assets/svg/file-image.svg"/>
        <img *ngIf="photoUploaded==false" src="assets/gif/load3.gif" class="file-icon">
      </span>
        </label>
      </form>

      <ng-template #error_tip let-control>
        <div style="font-family: Roboto-Light;color: red" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          *поле заполнено неверно</div>
      </ng-template>

      <a class="glo" type="submit" (click)="submit()" [ngClass]="{ disabled: clicked ==true}">Подать объявление</a>
    </div>
  </div>
</div>
<app-result-notification *ngIf="advtUploaded==true"></app-result-notification>
