<div style="display: flex; align-content: center; justify-content: center; padding: 1% 0;">
  <div style="width: 100%; max-width: 1300px; padding: 1% 0;
display: flex;align-content: center;justify-content: left; box-shadow: 0em 0.5em 8px rgba(122,122,122,0.15); border-radius: 10px">
    <div style="width: 30%;
display: flex;align-content: center;justify-content: space-between; flex-direction: column">
      <div style="box-shadow: 0em 0em 5px rgba(122,122,122,0.8);margin: auto;height: 150px; width: 150px; background-image: url(assets/img/profile.jpg);
      background-size: cover;border-radius: 75px">
      </div>
      <div class="rating-result">
        <span class="active"></span>
        <span class="active"></span>
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>
      <span style="margin: auto; font-family: Roboto-Bold;font-size: large"> Ксения Д.</span>
    </div>
    <div style="padding: 20px 0; margin: auto 0; ">
      <div style="display: flex; align-content: center;justify-content: left">
        <img style="margin: auto 0;height: 30px;width: 30px" src="assets/svg/email.svg"/>
        <p style="margin-left: 10px;font-family: Roboto-Light; font-size: large; color: gray">ks230den@gmail.com</p>
      </div>
      <div style="display: flex; align-content: center;justify-content: left">
        <img style="margin: auto 0;height: 30px;width: 30px" src="assets/svg/phone.svg"/>
        <p style="margin-left: 10px; font-family: Roboto-Light; font-size: large; color: gray">+7(978)580-85-86</p>
      </div>
      <div style="display: flex; align-content: center;justify-content: left">
        <img style="margin: auto 0;height: 30px;width: 30px" src="assets/svg/time.svg"/>
        <p style="margin-left: 10px;font-family: Roboto-Light; font-size: large; color: gray">На EBoard с октября 2022</p>
      </div>
    </div>
  </div>
</div>

