<!--Компонент профиля пользователя-->

<div class="profile-card">
  <div class="profile-card-area">
    <div class="profile">
      <div class="profile-photo-area">
        <img class="profile-photo" src="assets/img/profile.jpg"/>
      </div>
      <div class="rating-result">
        <span class="active"></span>
        <span class="active"></span>
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>
      <span class="profile-name">Ксения Д.</span>
    </div>
    <div class="data-profile-area">
      <div class="data-profile">
        <img class="icon" src="assets/svg/email.svg"/>
        <p class="data-profile-text">ks230den@gmail.com</p>
      </div>
      <div class="data-profile">
        <img class="icon" src="assets/svg/phone.svg"/>
        <p class="data-profile-text">+7(978)580-85-86</p>
      </div>
      <div class="data-profile">
        <img class="icon" src="assets/svg/time.svg"/>
        <p class="data-profile-text">На EBoard с октября
          2022</p>
      </div>
    </div>
  </div>
</div>

