<!--Отзыв-->

<div class="review-card" *ngIf="user!=null&&advtReview!=null">
  <div class="user-photo-area">
    <img class="user-photo" src="../../../../assets/img/profile.jpg">
  </div>
  <div title="Отзыв" class="review">
    <a routerLink="/users/{{user.id}}" class="name-user">{{user.name}}</a>
    <span class="data-review">{{advtReview.createDate}}</span>
    <div class="rating-mini">
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
    <p class="comment">Комментарий</p>
    <span class="data-review">{{advtReview.description}}</span>
  </div>
</div>
