<div class="advt-card">
  <div class="advt-card-area">
    <div class="advt" style="">
      <div class="advt-photo-area">
        <img class="advt-photo" src="../../../assets/img/55.jpg"/>
        <div style="display: flex;">
          <button routerLink="" class="btn" >Редактировать</button>
          <div style="width: 10px"></div>
          <button routerLink="" class="btn" id="delete">Снять с публикации</button>
        </div>
      </div>
    </div>
    <div class="data-advt-area">
      <div class="data-advt">
        <h1 class="data-advt-text" id="name-advt">Ноутбук ASUS Laptop 11 E210MA-GJ185T</h1>
      </div>
      <div class="data-advt">
        <h2 class="data-advt-text" id="price-advt">17000 ₽</h2>
      </div>
      <div class="advt-content">

        <div class="data-advt">
          <img class="icon" src="../../../assets/svg/location_advt.svg"/>
          <p routerLink="" class="data-advt-text" id="location-advt">Симферополь</p>
        </div>
        <div class="data-advt">
          <img class="icon" src="../../../assets/svg/cancel.svg"/>
          <a class="data-advt-text">Ограничить доступ(A)</a>
        </div>
        <div class="data-advt">
          <img class="icon" src="../../../assets/svg/star.svg"/>
          <a class="data-advt-text">Отзыв</a>
        </div>
      </div>
      <div class="data-advt">
        <p class="data-advt-text">Ноутбук ASUS Laptop 11 E210MA приятно порадует своего обладателя наличием
          11.6-дюймового экрана на базе матрицы TN+film, гарантирующей высокую детализацию и контрастность каждой
          картинки. Благодаря матовому покрытию вы не столкнетесь с появлением искажений, спровоцированных солнечными
          бликами. Изображения транслируются в максимальном разрешении 1366х768 пикселей.</p>
      </div>
    </div>
  </div>
</div>
<app-write-report></app-write-report>
