@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto-Light.ttf) format("opentype");
}

@font-face {
  font-family: BubblegumSans-Regular;
  src: url(assets/fonts/BubblegumSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf) format("opentype");
}

body {
  margin: 0; /* Убираем отступы */
  height: 100%;
}
.content-area{
  max-width: 1300px;
  width: 100%
}
